@{
    ViewBag.Title = "Home Page";
}

<main>
    <ul>
        <li>@Html.ActionLink("List of Employee", "Index", "tb_EMPLOYEE", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("List of Account", "Index", "tb_ACCOUNT", new { area = "" }, new { @class = "nav-link" })</li>

    </ul>
</main>